<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(BUNDLE_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(BUNDLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.8</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>sg.com.fuzzie.client-prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fuzzie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>sg.com.fuzzie.client-staging</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fuzzie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb${FACEBOOK_APP_ID}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sg.com.fuzzie.client-staging</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sg.com.fuzzie.client-staging</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sg.com.fuzzie.client-prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sg.com.fuzzie.client-prod</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>sg.com.fuzzie.client-staging</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fuzzie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>sg.com.fuzzie.client-prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fuzzie</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>300</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>da4bbd37e9dc3b6169c38d48f72dd62def7388c1</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>${FACEBOOK_APP_ID}</string>
	<key>FacebookDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>netspay</string>
		<string>fbapi</string>
		<string>fb</string>
		<string>fb-messenger</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>paypal</string>
		<string>whatsapp</string>
		<string>com.paypal.ppclient.touch.v1</string>
		<string>com.paypal.ppclient.touch.v2</string>
		<string>com.venmo.touch.v2</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera only to capture photo for your profile image.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We access location information only to show you brands and deals around you when using the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We access your photo library only when you need to choose a photo for your profile image.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Brandon_blk.otf</string>
		<string>Brandon_bold.otf</string>
		<string>Brandon_light.otf</string>
		<string>Brandon_med.otf</string>
		<string>Brandon_reg.otf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
